* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.carrousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.carrousel__item {
  position: relative;
  margin-right: 1vmin;
}
.carrousel__item img {
  position: relative;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  width: auto;
}
.carrousel__item .img--big {
  height: 90vh;
}
.carrousel__item .img--small {
  height: 30vh;
}
.carrousel__item .img--medium {
  height: 60vh;
}
.carrousel__item article {
  padding: 1vmin 1vmin 0 1vmin;
  position: absolute;
  height: 25%;
  bottom: 4vmin;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: scroll;
}
.carrousel__item h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vmin;
}