*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.carrousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    &__item{
        position: relative;
        margin-right: 1vmin;
        & img {
            position: relative;
            bottom: 0;
            object-fit: cover;
            object-position: center;     
            width: auto;
        }
        & .img--big{
            height: 90vh;
        }
        & .img--small{
            height: 30vh;
        }
        & .img--medium{
            height: 60vh;
        }
        & article {
            padding: 1vmin 1vmin 0 1vmin;
            position: absolute;
            height: 25%;
            bottom: 4vmin;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            overflow-x: scroll;
        }
        & h3 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5vmin;
        }
        
        
    }
}